<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title%> </title>
</head>
<body>
    <h1>Rendering from practice file</h1>

    <ul>
        <% for(let i=0;i<=5;i++){%>
            <li>
                <%=i%>
            </li>
        <%}%>

        <% if(!true) {%>
            <h1>I am true</h1>
        <%} else {%>
            <h1>I am false</h1> 
        <%}%>
    </ul>
</body>
</html>